# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter / IPython
.ipynb_checkpoints

# PyTorch / Transformers outputs
src/audio/runs/
src/audio/checkpoint-*

# Audio files
src/tests/*.mp3
src/tests/*.wav

# VS Code settings
.vscode/

# Misc
*.safetensors
*.pt
*.pth
